* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #00001D;
    background: linear-gradient(0deg, rgba(0, 0, 29, 1) 0%, rgba(1, 1, 74, 1) 48%, rgba(0, 0, 29, 1) 100%);
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.containerImg {
    width: 100%;
    height: 100dvh;
    position: fixed;
}

.containerImg img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
}

.contenedor1 {
    z-index: 2;
    animation: entradaEficio 6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.contenedor2 {
    z-index: 3;
    animation: entradaEficioSecundario 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;

}

.contenedor3 {
    z-index: 1;
    animation: entradaPiso 1s ease-out forwards;
    opacity: 0;
    animation-delay: .5s;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    min-height: 200dvh;
}

.logo {
    width: 80%;
    max-width: 450px;
    margin-top: 3em;
    z-index: 0;
    position: fixed;
    transition: all 0.4s ease;
    transform-origin: top left;
    animation: entradaLogo 2s ease-out forwards;

}

.logo.logo-small {
    width: 100px;
    max-width: 100px;
    margin-top: 0;
    top: 10px;
    left: 10px;
}

@keyframes entradaLogo {
    0% {
        transform: translateY(20dvh);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaEficio {
    0% {
        transform: translateX(12dvh);

    }

    100% {
        transform: translateY(0);

    }
}

@keyframes entradaEficioSecundario {
    0% {
        transform: translateX(-20dvh);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaPiso {
    to {
        opacity: 1;
    }
}