* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: #00001D;
    background: linear-gradient(0deg, rgba(0, 0, 29, 1) 0%, rgba(1, 1, 74, 1) 48%, rgba(0, 0, 29, 1) 100%);
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.containerImg {
    width: 100%;
    height: 100dvh;
    position: fixed;
}

.containerImg img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
}

.contenedor1 {
    z-index: 2;
    animation: entradaEficio 6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.contenedor2 {
    z-index: 3;
    animation: entradaEficioSecundario 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;

}

.contenedor3 {
    z-index: 1;
    animation: entradaPiso 1s ease-out forwards;
    opacity: 0;
    animation-delay: .5s;
}

.containerLogo {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 80%;
    max-width: 450px;
    margin-top: 3em;
    z-index: 0;
    position: fixed;
    transition: all 0.4s ease;
    transform-origin: top left;
    animation: entradaLogo 2s ease-out forwards;
}

.botonera {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 1em;
    min-height: 90dvh;
    padding: 1em;
    position: relative;
}

.botonera_button {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    color: white;
    padding: 0.5em 1.5em;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    max-height: 50px;
    width: 100%;
    max-width: 200px;
    border-radius: 4px;
}

.botonera_button:hover {
    scale: 1.05;
}

.botonera_button:active {
    background-color: #C7446A;
    box-shadow: 1px 1px 10px 5px #C7446A;
}

.buttonActive {
    background-color: #C7446A;
    box-shadow: 1px 1px 10px 5px #C7446A;
}

.logo.logo-small {
    width: 100px;
    max-width: 100px;
    margin-top: 0;
    top: 10px;
    left: 10px;
}

@keyframes entradaLogo {
    0% {
        transform: translateY(30dvh);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaEficio {
    0% {
        transform: translateX(12dvh);

    }

    100% {
        transform: translateY(0);

    }
}

@keyframes entradaEficioSecundario {
    0% {
        transform: translateX(-20dvh);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaPiso {
    to {
        opacity: 1;
    }
}


@media (width < 700px) {
    .containerLogo {
        align-items: center;
    }
}